/* Import the reindeer theme.*/
/* This only allows us to use the mixins defined in it and does not add any styles by itself. */
@import "../reindeer/reindeer.scss";

/* This contains all of your theme.*/
/* If somebody wants to extend the theme she will include this mixin. */
@mixin vaadinproject {
	/* Include all the styles from the reindeer theme */
	@include reindeer;

  	/* Insert your theme rules here */
  
  	/* Field modified */
	.v-modified,
		.v-richtextarea.v-modified iframe.gwt-RichTextArea,
		.v-checkbox.v-modified,
		.v-modified .v-select-option,
		.v-modified .v-textfield,
		.v-modified .v-datefield-calendarpanel,
		.v-modified .v-select-select,
		.v-modified .v-select-twincol-selections,
		.v-modified .v-select-twincol-options,
		.v-modified .v-slider-base
	{
		background: #ffffe0;
	}

	.float-right { float: right; }
	
	.large-margin-left { margin-left: 50px; }
  
}
